<%= render "form" %>
<table class="table">
  <thead>
    <tr>
      <th>#</th>       
      <th>Name</th>       
      <th>Program</th>       
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>       
        <th><%= user.name %></th>       
        <th><%= user.program %></th>       
      </tr>
    <% end %>
  </tbody>
</table>
