// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  padding-top: 50px;
}

.brand {
  cursor: default;
  font-family: 'Lemon', cursive;
  a {
    text-decoration: none;
    color: #5C585A;
  }
}
