<!DOCTYPE html>
<html>
  <head>
    <title>Oolong</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand"><a href="/">Oolong</a></span>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/users">Students</a></li>
            <li><a href="/courses">Courses</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div id="wrap">
          <%= yield %>
        </div>
        <div class="no-pjax">
          <hr>
          <footer>
            <p>Jiasi @ Carnegie Mellon</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
