<!DOCTYPE html>
<html>
  <head>
    <title>Ke</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">KE</span>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/courses">Courses</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div id="wrap">
          <%= yield %>
        </div>
        <hr>
        <footer>
          <p>Jiasi @ Carnegie Mellon</p>
        </footer>
      </div>
    </div>
  </body>
</html>
